{% extends "layout.twig" %}
{% block module_name %}objects{% endblock module_name %}

{% block control %}
<div class="control">
    <div class="control__container">
        <div class="control__left">
            <div class="control__search input-search" style="max-width: 380px;">
                <input type="text" class="input-search__input" placeholder="Поиск">
            </div>
        </div>

        <div class="control__right">
            <button data-modal-object-add class="control__btn btn">Добавить</button>
        </div>
    </div>
</div>
{% endblock control %}

{% block content %}
{% endblock content %}

{% block scripts %}
{# Start Подгружаем главную таблицу #}
<script>
    $(document).ready(function() {
        $('.module-objects .control .input-search input').on('input', function() {
            xrender_main_table_objects(1, $(this).val());
        });

        xrender_main_table_objects(1);
    });
</script>
{# End Подгружаем главную таблицу #}
{% endblock scripts %}