{#
    request_params - параметры запроса
    department - отдел
#}

<!-- Start fancybox modal | Редактирование отдела | Модуль справочники -->
<div id="fmodal-book-departments-update" class="fmodal fmodal-book-departments-update" style="display: none;min-width: unset;">
    <div class="fmodal__title">Редактирование отдела</div>

    <div class="fmodal__content">

        <div class="fmodal__vertical">
    
            {% include 'components/input-text.twig' with {
                settings: {
                    db_field_name: 'name',
                    required: true,
                    val: department.name,
                    pls: 'Название отдела'
                }
            } %}

            {% include 'components/textarea.twig' with {
                settings: {
                    db_field_name: 'description',
                    val: department.description,
                    pls: 'Описание отдела'
                }
            } %}
    
        </div>
        
    </div>

    <div class="fmodal__control-btns">
        <button data-fancybox-close class="fmodal__btn btn-bad">Отменить</button>
        <button class="fmodal__btn btn-good disable submitter">Сохранить</button>
    </div>

</div>
<!-- End fancybox modal | Редактирование отдела | Модуль справочники -->

<script>
    $(document).ready(() => {
        cpns_form_validate('#fmodal-book-departments-update', '.submitter', true); // валидируем форму

        $('#fmodal-book-departments-update .submitter').click(function(e) {
            let formData = new FormData();
            let url = API_V1_URLS.book_departments.update;

            formData.append('id', {{ department.id }});
            formData.append('name', $('#fmodal-book-departments-update .input-text input[name="name"]').val());
            formData.append('description', $('#fmodal-book-departments-update .textarea textarea[name="description"]').val());

            xpost_fd(url, formData).then(response => {
                $.fancybox.close();
                xrender_main_table_book_departments();
                dd(response, response.message, 'success');
            }).catch(response => {
                dd(response, response.message, 'error');
            });
        });
    });
</script>