{#
    request_params - параметры запроса
    department - отдел
#}

<!-- Start fancybox modal | Редактирование отдела | Модуль справочники -->
<div id="fmodal-book-departments-update" class="fmodal fmodal-book-departments-update" style="display: none;min-width: unset;">
    <div class="fmodal__title">Редактирование отдела</div>

    <div class="fmodal__content">

        <div class="fmodal__vertical">
    
            {% include 'components/input-text.twig' with {
                settings: {
                    db_field_name: 'name',
                    required: true,
                    val: department.name,
                    pls: 'Название отдела'
                }
            } %}

            {% include 'components/textarea.twig' with {
                settings: {
                    db_field_name: 'description',
                    val: department.description,
                    pls: 'Описание отдела'
                }
            } %}
    
        </div>
        
    </div>

    <div class="fmodal__control-btns">
        <button data-fancybox-close class="fmodal__btn btn-bad">Отменить</button>
        <button class="fmodal__btn btn-good disable submitter">Сохранить</button>
    </div>

</div>
<!-- End fancybox modal | Редактирование отдела | Модуль справочники -->

<script>
    $(document).ready(() => {
        cpns_form_validate('#fmodal-book-departments-update', '.submitter', true); // валидируем форму
    });
</script>