{#
    РЕАЛИЗОВАТЬ!!!
    request_params - параметры запроса
    posts - должности
#}

<div class="content-table">
    <div class="content-table__container">

        {% if posts | length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th class="text-center" width="10%">№ п/п</th>
                        <th class="text-start" style="margin-left: 10px">Название должности</th>
                        <th class="text-start" style="margin-left: 10px">Описание</th>
                    </tr>
                </thead>

                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td class="text-center">{{ post.id }}</td>
                            <td class="text-start">{{ post.name }}</td>
                            <td class="text-start">{{ post.description | default('-') }}</td>
                            
                            <td class="td-btn-default">
                                <svg class="hover"><use xlink:href="#svg-edit"></use></svg>
                            </td>
                            <td class="td-btn-default">
                                <svg class="hover" onclick="delete_post({{ post.id }})"><use xlink:href="#svg-del"></use></svg>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div style="display: flex; gap: 10px; align-items: center; flex-direction: column; justify-content: center; height: 100%;font-size: 2rem;">
                <span style="font-size: 3rem;">🙁</span>
                {% if request_params.control_panel_condition != '' %}
                    <span>Таких должностей не нашлось</span>
                {% else %}
                    <span>Должностей нет!</span>
                {% endif %}
                <button data-fancybox data-src="#fmodal-book-new-post" class="btn">Добавить должность</button>
            </div>
        {% endif %}

    </div>
</div>


{# Start удаление должности #}
<script>
    function delete_post(id) {
        let formData = new FormData();
        let url = API_V1_URLS.book_posts.delete;

        formData.append('id', id);

        xpost_fd(url, formData).then(response => {
            let mes = response.message ? response.message : 'Успешное удаление должности (' + url + ')';
            
            dd(response, mes, 'success');
            push(mes, 'success');
            xrender_main_table_book_posts();
        }).catch(response => {
            let mes = response.message ? response.message : 'Неудачное удаление должности (' + url + ')';
            
            dd(response, mes, 'error');
            push(mes, 'error');
        });
    }
</script>
{# End удаление должности #}