{% extends "layout.twig" %}

{% block module_name %}workers{% endblock module_name %}

{% block control %}
<div class="control">
    <div class="control__container">
        <div class="control__left">

            <div class="control__search input-search" style="max-width: 370px;">
                <input type="text" class="input-search__input" placeholder="Поиск по ФИО сотрудника">
            </div>

        </div>

        <div class="control__right">
            <button data-modal-user-add class="control__btn btn">Добавить</button>
        </div>
    </div>
</div>
{% endblock control %}

{% block content %}

{% endblock content %}


{% block scripts %}
{# Start Подгружаем главную таблицу #}
<script>
    xrender_main_table_users(1);
</script>
{# End Подгружаем главную таблицу #}
{% endblock scripts %}