<IfModule mod_rewrite.c>
RewriteEngine On

# Перенаправление на файл "api.php" для всех запросов, содержащих "/api_v1/"
RewriteCond %{REQUEST_URI} ^/api_v1/
RewriteRule ^.*$ api.php

# Перенаправление всех запросов на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php
</IfModule>

<IfModule mod_php4.c>
    php_value session.auto_start 0
</IfModule>