<!-- Start регион подгрузки модального окна для добавления нового оборудования -->
<div id="fmodal-new-device-wrapper"></div>
<!-- End регион подгрузки модального окна для добавления нового оборудования -->

<!-- Start регион подгрузки модального окна для добавления объекта -->
<div id="region-modal-object-add"></div>
<!-- End регион подгрузки модального окна для добавления объекта -->


<!-- Start регион подгрузки модального окна объекта -->
<div id="region-modal-object"></div>
<!-- End регион подгрузки модального окна объекта -->