{# Start fancybox modal | Новый тип оборудования | Модуль справочники #}
<div id="fmodal-book-new-type-equipment" class="fmodal fmodal-book-new-type-equipment" style="display: none;min-width: 600px;">
    <div class="fmodal__title">Новый тип оборудования</div>

    <div class="fmodal__content">

        <div class="fmodal__vertical">
    
            {% include 'components/input-text.twig' with {
                settings: {
                    db_field_name: 'name_equipment',
                    required: true,
                    pls: 'Название типа оборудования'
                }
            } %}

            <hr>

            <div class="fmodal__add-table" data-count="1">
                <div class="fmodal__add-table-line" data-id="1">
                    <div class="fmodal__add-table-rowNum">1</div>

                    <div class="fmodal__add-table-field">
                        {% include 'components/input-text.twig' with {
                            settings: {
                                db_field_name: 'pls_1',
                                required: true,
                                pls: 'Название параметра'
                            }
                        } %}
                    </div>

                    <div class="fmodal__add-table-field">
                        {% include 'components/input-text.twig' with {
                            settings: {
                                db_field_name: 'table_name_1',
                                required: true,
                                pls: 'Заголовок в таблице'
                            }
                        } %}
                    </div>

                    <div class="fmodal__add-table-field">
                        {% include 'components/select.twig' with {
                            settings: {
                                db_field_name: 'input_type_1',
                                required: true,
                                pls: 'Тип поля',
                                val: 'input-text',
                                position: 'top'
                            },
                            items: [
                                {
                                    id: 'input-text',
                                    text: 'Текстовое поле'
                                },
                                {
                                    id: 'input-date',
                                    text: 'Поле с датой'
                                }
                            ]
                        } %}
                    </div>

                    <div class="fmodal__add-table-del">
                        <svg><use xlink:href="#svg-del"></use></svg>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button class="fmodal__add-table-btn btn">Добавить параметр</button>
            </div>
    
        </div>
        
    </div>

    <div class="fmodal__control-btns">
        <button data-fancybox-close class="fmodal__btn btn-bad">Отменить</button>
        <button class="fmodal__btn btn-good js-submitter disable">Сохранить</button>
    </div>


</div>
{# End fancybox modal | Новый тип оборудования | Модуль справочники #}



<!-- Start fancybox modal | Новый тип дачтика | Модуль справочники -->
<div id="fmodal-book-new-type-sensor" class="fmodal fmodal-book-new-type-sensor" style="display: none;min-width: unset;">
    <div class="fmodal__title">Новый тип дачтика</div>

    <div class="fmodal__content">

        <div class="fmodal__vertical">
    
            @@include('../components/input-text.html', {"name": "", "value": "", "stText": "Название типа дачтика"})
    
        </div>
        
    </div>

    <div class="fmodal__control-btns">
        <button data-fancybox-close class="fmodal__btn btn-bad">Отменить</button>
        <button class="fmodal__btn btn-good disable">Сохранить</button>
    </div>


</div>
<!-- End fancybox modal | Новый тип дачтика | Модуль справочники -->

<!-- Start fancybox modal | Новый отдел | Модуль справочники -->
<div id="fmodal-book-new-departments" class="fmodal fmodal-book-new-departments" style="display: none;min-width: unset;">
    <div class="fmodal__title">Новый отдел</div>

    <div class="fmodal__content">

        <div class="fmodal__vertical">
    
            {% include 'components/input-text.twig' with {
                settings: {
                    db_field_name: 'name',
                    required: true,
                    pls: 'Название отдела'
                }
            } %}

            {% include 'components/textarea.twig' with {
                settings: {
                    db_field_name: 'description',
                    pls: 'Описание отдела'
                }
            } %}
    
        </div>
        
    </div>

    <div class="fmodal__control-btns">
        <button data-fancybox-close class="fmodal__btn btn-bad">Отменить</button>
        <button class="fmodal__btn btn-good disable submitter">Сохранить</button>
    </div>


</div>
<!-- End fancybox modal | Новый отдел | Модуль справочники -->


{# Start fancybox modal | Редактирование отдела | Справочник отделов #}
<div id="fmodal-book-departments-update-wrapper"></div>
{# End fancybox modal | Редактирование отдела | Справочник отделов #}



{# Start fancybox modal | Добавление новой должности | Справочник должностей #}
<div id="fmodal-book-new-post-wrapper"></div>
{# End fancybox modal | Добавление новой должности | Справочник должностей #}

{# Start fancybox modal | Редактирование должности | Справочник должностей #}
<div id="fmodal-book-post-update-wrapper"></div>
{# End fancybox modal | Редактирование должности | Справочник должностей #}



{# Start fancybox modal | Добавление нового типа документа | Справочник документов #}
<div id="fmodal-book-new-type-doc-wrapper"></div>
{# End fancybox modal | Добавление нового типа документа | Справочник документов #}

{# Start fancybox modal | Редактирование нового типа документа | Справочник документов #}
<div id="fmodal-book-type-doc-update-wrapper"></div>
{# End fancybox modal | Редактирование нового типа документа | Справочник документов #}

{# Start fancybox modal | Создание нового типа объекта | Справочник объектов #}
<div id="fmodal-book-new-type-object-wrapper"></div>
{# End fancybox modal | Создание нового типа объекта | Справочник объектов #}

{# Start fancybox modal | Редактирование типа объекта | Справочник объектов #}
<div id="fmodal-book-type-object-update-wrapper"></div>
{# End fancybox modal | Редактирование типа объекта | Справочник объектов #}




{# Start fancybox modal | Создание нового типа услуги | Справочник услуг #}
<div id="fmodal-book-new-service-wrapper"></div>
{# End fancybox modal | Создание нового типа услуги | Справочник услуг #}

{# Start fancybox modal | Редактирование типа услуги | Справочник услуг #}
<div id="fmodal-book-service-update-wrapper"></div>
{# End fancybox modal | Редактирование типа услуги | Справочник услуг #}