<!-- РЕАЛИЗОВАТЬ! -->

<!-- Start регион подгрузки модального окна | Редактирование собственной карточки пользователя -->
<div id="modal-current-user-wrapper" class="modal-current-user-wrapper"></div>
<!-- End регион подгрузки модального окна | Редактирование собственной карточки пользователя -->


{# Start редактирование текущего пользователя #}
<script>
    function edit_current_user() {
        let formData = new FormData();
        formData.append('id', {{ current_user.id }});

        let url = API_V1_URLS.users.render + 'modal-current-user';

        xpost_fd(url, formData).then(response => {
            $('#modal-current-user-wrapper').html(response.render_response_html);
            cpns_init();

            dd_render_success(response, 'modal-current-user.twig', url);
        }).catch(resp => {
            dd(resp, 'Ошибка', 'error');
        });
    }

    $(document).ready(() => {
        edit_current_user();
    });
</script>
{# End редактирование текущего пользователя #}