<!-- Start fancybox modal | Просмотр акта | Модуль объекты -->
<div id="fmodal-moduleApplications-actView" class="fmodal fmodal-moduleApplications-actView" style="display: none;">
    <div class="fmodal__title">Акт №1 от 20.10.2023 к заявке #12677</div>

    <div class="fmodal__content">

        <div class="d-flex justify-content-between gap-5 mb-4">
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Дата</span>
                    <span class="fmodal__view-input-text">20.10.2023</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Клиент</span>
                    <span class="fmodal__view-input-text">ООО Альянс</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Основание</span>
                    <span class="fmodal__view-input-text">3114/17 от 06.09.2023</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Нас. пункт</span>
                    <span class="fmodal__view-input-text">Новосибирск</span>
                </div>
            </div>
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Тип объекта</span>
                    <span class="fmodal__view-input-text">Легковой автомобиль</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Марка/Модель</span>
                    <span class="fmodal__view-input-text">LADA 4x4, 212140</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Гос№ (если есть)</span>
                    <span class="fmodal__view-input-text">Х117УМ72</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Дата</span>
                    <span class="fmodal__view-input-text"></span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">VIN (если есть)</span>
                    <span class="fmodal__view-input-text">XTC652005L1427507</span>
                </div>
            </div>
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Комментарий</span>
                    <span class="fmodal__view-input-text" style="max-width: 300px;">Длинный и большой комментарий в две строчки</span>
                </div>
            </div>
        </div>

        <div class="fmodal__title-h2">Устройства</div>

        <div class="d-flex justify-content-between gap-5 mb-4">
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Тип оборудования</span>
                    <span class="fmodal__view-input-text">Мобильный терминал</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Модель устройства</span>
                    <span class="fmodal__view-input-text">MT 855ENT</span>
                </div>
            </div>
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">SN</span>
                    <span class="fmodal__view-input-text">232132131</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">ID</span>
                    <span class="fmodal__view-input-text">232132131</span>
                </div>
            </div>
            <div class="fmodal__vertical"></div>
        </div>

        <div class="checkbox active readonly mb-4">
            <input type="hidden" value="0">
            <span class="checkbox__field"></span>
            <span class="checkbox__label">Есть SIM</span>
        </div>

        <div class="d-flex justify-content-between gap-5 mb-4">
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">SIM1</span>
                    <span class="fmodal__view-input-text">89234565454</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">SIM2</span>
                    <span class="fmodal__view-input-text">89234565454</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Пломба</span>
                    <span class="fmodal__view-input-text">465456465465</span>
                </div>
            </div>
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">PIN1</span>
                    <span class="fmodal__view-input-text">0000</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">PIN2</span>
                    <span class="fmodal__view-input-text">0000</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Сервер</span>
                    <span class="fmodal__view-input-text">192.168.0.1</span>
                </div>
            </div>
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Провайдер 1</span>
                    <span class="fmodal__view-input-text">Мегафон</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Провайдер 2</span>
                    <span class="fmodal__view-input-text">Мегафон</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Место установки</span>
                    <span class="fmodal__view-input-text">Под рулевой колонкой</span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center gap-5 mb-4">
            <div class="fmodal__vertical">
                <div class="checkbox active readonly">
                    <input type="hidden" value="0">
                    <span class="checkbox__field"></span>
                    <span class="checkbox__label">Поверка</span>
                </div>
            </div>
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Срок</span>
                    <span class="fmodal__view-input-text">31.12.2024</span>
                </div>
            </div>
            <div class="fmodal__vertical"></div>
        </div>

        <div class="fmodal__title-h2">Калибровочные параметры</div>

        <div class="d-flex justify-content-between align-items-center gap-5 mb-4">
            <div class="fmodal__view-input">
                <span class="fmodal__view-input-name">WK</span>
                <span class="fmodal__view-input-text">3 850</span>
            </div>
            <div class="fmodal__view-input">
                <span class="fmodal__view-input-name">Пробег</span>
                <span class="fmodal__view-input-text">9 771</span>
            </div>
            <div class="fmodal__view-input">
                <span class="fmodal__view-input-name">Шины</span>
                <span class="fmodal__view-input-text">370/508 14.00</span>
            </div>
            <div class="fmodal__view-input">
                <span class="fmodal__view-input-name">Окружность колеса</span>
                <span class="fmodal__view-input-text">3 730</span>
            </div>
        </div>

        <div class="fmodal__title-h2">Обслуживание</div>

        <div class="d-flex justify-content-between align-items-center gap-5 mb-4">
            <div class="fmodal__vertical">
                <div class="checkbox active readonly">
                    <input type="hidden" value="0">
                    <span class="checkbox__field"></span>
                    <span class="checkbox__label">Взят на обслуживание</span>
                </div>
                <div class="checkbox active readonly">
                    <input type="hidden" value="0">
                    <span class="checkbox__field"></span>
                    <span class="checkbox__label">Помещён на удержание</span>
                </div>
            </div>
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Срок</span>
                    <span class="fmodal__view-input-text">31.12.2024</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">От</span>
                    <span class="fmodal__view-input-text">31.12.2024</span>
                </div>
            </div>
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Договор обслуживания</span>
                    <span class="fmodal__view-input-text">3114/17 от 06.09.2023</span>
                </div>
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">До</span>
                    <span class="fmodal__view-input-text">31.12.2024</span>
                </div>
            </div>
        </div>

        <div class="fmodal__title-h2">Исполнители</div>

        <div class="d-flex justify-content-between align-items-center gap-5 mb-4">
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Исполнитель 1</span>
                    <span class="fmodal__view-input-text">Петров П. П.</span>
                </div>
            </div>
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Исполнитель 2</span>
                    <span class="fmodal__view-input-text">Петров П. П.</span>
                </div>
            </div>
            <div class="fmodal__vertical">
                <div class="fmodal__view-input">
                    <span class="fmodal__view-input-name">Исполнитель 3</span>
                    <span class="fmodal__view-input-text">Петров П. П.</span>
                </div>
            </div>
        </div>

        <div class="fmodal__title-h2">Фото</div>

        <div class="fmodal-moduleApplications-actView__photos">
            <div class="fmodal-moduleApplications-actView__photo" data-fancybox="gallery" data-src="/assets/img/default/photo-2.jpg"><img src="/assets/img/default/photo-2.jpg" alt=""></div>
            <div class="fmodal-moduleApplications-actView__photo" data-fancybox="gallery" data-src="/assets/img/default/photo-2.jpg"><img src="/assets/img/default/photo-2.jpg" alt=""></div>
            <div class="fmodal-moduleApplications-actView__photo" data-fancybox="gallery" data-src="/assets/img/default/photo-2.jpg"><img src="/assets/img/default/photo-2.jpg" alt=""></div>
            <div class="fmodal-moduleApplications-actView__photo" data-fancybox="gallery" data-src="/assets/img/default/photo-2.jpg"><img src="/assets/img/default/photo-2.jpg" alt=""></div>
            <div class="fmodal-moduleApplications-actView__photo" data-fancybox="gallery" data-src="/assets/img/default/photo-2.jpg"><img src="/assets/img/default/photo-2.jpg" alt=""></div>
        </div>

        <div class="fmodal__title-h2">Таррировочные таблицы (не стал пока верстать)</div>
        <div style="text-align: center;">Если тарировочные таблицы нужно редактировать, то пока лучше не верстать</div>
        
    </div>

    <div class="fmodal__control-btns">
        <button data-fancybox-close class="fmodal__btn btn">Печать</button>
    </div>
</div>
<!-- End fancybox modal | Просмотр акта | Модуль объекты -->

{# Start модалка добавления заявки | Модуль заявки #}
<div id="modal-application-add-wrapper"></div>
{# End модалка добавления заявки | Модуль заявки #}

{# Start модалка заявки | Модуль заявки #}
<div id="modal-application-wrapper"></div>
{# End модалка заявки | Модуль заявки #}