<!-- Start fancybox modal | Просмотр тс | Модуль клиенты -->
<div id="fmodal-ts-object-view" class="fmodal fmodal-ts-object-view" style="display: none;">
    
    <div class="fmodal-ts-object-view__header">
        <div class="fmodal-ts-object-view__title">
            <span>КАМАЗ, 4308-81</span>
            <span>Х664МА72</span>
        </div>
        <div class="fmodal-ts-object-view__link-transition">
            <a href="#">
                <svg>
                    <use xlink:href="#svg-link-transition"></use>
                </svg>
            </a>
        </div>
    </div>

    <div class="fmodal-ts-object-view__content">
        
        <div class="fmodal-ts-object-view__left">
            <div class="fmodal-ts-object-view__item">
                <span class="text-secondary">Клиент</span>
                <span>ИП Новин Фёдор Евгеньевич</span>
            </div>

            <div class="fmodal-ts-object-view__item">
                <span class="text-secondary">Тип объекта</span>
                <span>Грузовой автомобиль</span>
            </div>

            <div class="fmodal-ts-object-view__item">
                <span class="text-secondary">Марка/Модель</span>
                <span>КАМАЗ, 4308-81</span>
            </div>

            <div class="fmodal-ts-object-view__item">
                <span class="text-secondary">Год выпуска</span>
                <span>1993</span>
            </div>

            <div class="fmodal-ts-object-view__item">
                <span class="text-secondary">Цвет</span>
                <span>Белый</span>
            </div>

            <div class="fmodal-ts-object-view__item">
                <span class="text-secondary">Номер</span>
                <span>Х664МА72</span>
            </div>

            <div class="fmodal-ts-object-view__item">
                <span class="text-secondary">VIN</span>
                <span>XTA454545HHUH123</span>
            </div>
            
            <div class="fmodal-ts-object-view__item">
                <span class="text-secondary">Тип документа о регистрации</span>
                <span>ПТС</span>
            </div>

            <div class="fmodal-ts-object-view__item">
                <span class="text-secondary">Номер документа о регистрации</span>
                <span>213212545645645564</span>
            </div>

        </div>

        <div class="fmodal-ts-object-view__right">
            <div class="fmodal-ts-object-view__photo">
                <svg>
                   <use xlink:href="#svg-photo-default"></use> 
                </svg>
            </div>

            <div class="fmodal-ts-object-view__docs">
                <span class="text-secondary">Документы</span>

                <div class="fmodal-ts-object-view__docs-block">
                    <a class="download-link" href="#">Анкета.xls</a>
                    <a class="download-link" href="#">СТС.jpg</a>
                    <a class="download-link" href="#">ПТС.jpg</a>
                </div>
            </div>
        </div>
        
    </div>

</div>
<!-- End fancybox modal | Просмотр тс | Модуль клиенты -->


<!-- Start fancybox modal | Новый документ | Модуль клиенты -->
<div id="fmodal-new-document" class="fmodal fmodal-new-document" style="display: none;">
    <div class="fmodal__title">Новый документ</div>

    <div class="fmodal__content">

        <div class="fmodal__vertical">

            @@include('../components/select.html', {
                "name": "",
                "stText": "Выберите тип",
                "itemName": "Teст"
            })

            @@include('../components/standart-input-date.html', {
                "name": "",
                "pls": "Дата заключения"
            })

            @@include('../components/standart-input-date.html', {
                "name": "",
                "pls": "Срок действия"
            })

            @@include('../components/input-file.html')
        
        </div>
    </div>

    <div class="fmodal__control-btns">
        <button data-fancybox-close class="fmodal__btn btn-bad">Отменить</button>
        <button class="fmodal__btn btn-good disable">Сохранить</button>
    </div>
</div>
<!-- End fancybox modal | Новый документ | Модуль клиенты -->


<!-- Start fancybox modal | Просмотр заявки | Модуль клиенты -->
<div id="fmodal-request-view" class="fmodal fmodal-request-view" style="display: none;">
    <div class="fmodal__title">Заявка №12654</div>

    <div class="fmodal__content">

        <div class="fmodal__vertical">
            <div class="fmodal__view-input">
                <span class="fmodal__view-input-name">Статус</span>
                <span class="fmodal__view-input-text">В работе</span>
            </div>
            <div class="fmodal__view-input">
                <span class="fmodal__view-input-name">Тип заявки</span>
                <span class="fmodal__view-input-text">Монтаж</span>
            </div>
            <div class="fmodal__view-input">
                <span class="fmodal__view-input-name">Контактное лицо</span>
                <span class="fmodal__view-input-text">Новин Фёдор Евгеньевич (Директор)</span>
            </div>
            <div class="fmodal__view-input">
                <span class="fmodal__view-input-name">Объект</span>
                <span class="fmodal__view-input-text">Выберите тип</span>
            </div>
            <div class="fmodal__view-input">
                <span class="fmodal__view-input-name">Исполнители</span>
                <ul class="fmodal__view-input-text">
                    <li>Васильев В. В.</li>
                    <li>Смирнов С. С.</li>
                    <li>Соболев Н. В.</li>
                </ul>
            </div>
            <div class="fmodal__view-input">
                <span class="fmodal__view-input-name">Срок выполнения</span>
                <span class="fmodal__view-input-text">10.02.2024</span>
            </div>
            <div class="fmodal__view-input">
                <span class="fmodal__view-input-name">Комментарий</span>
                <span class="fmodal__view-input-text">Монтаж тахографа</span>
            </div>
        </div>
    </div>
</div>
<!-- End fancybox modal | Просмотр заявки | Модуль клиенты -->





{# Start fancybox modal | Новое контактное лицо | Модуль клиенты #}
<div id="fmodal-contact-person-wrapper"></div>
{# End fancybox modal | Новое контактное лицо | Модуль клиенты #}


{#
    Start Модалки счетов
#}
{# Start fancybox modal | Новый счет | Модуль клиенты #}
<div id="fmodal-new-bill-wrapper"></div>
{# End fancybox modal | Новый счет | Модуль клиенты #}

{# Start fancybox modal | Обновить счет | Модуль клиенты #}
<div id="fmodal-bill-update-wrapper"></div>
{# End fancybox modal | Обновить счет | Модуль клиенты #}
{#
    End Модалки счетов
#}



{#
    Start Модалки договоров
#}
{# Start fancybox modal | Новый документ | Модуль клиенты #}
<div id="fmodal-new-contract-wrapper"></div>
{# End fancybox modal | Новый документ | Модуль клиенты #}

{# Start fancybox modal | Обновить документ | Модуль клиенты #}
<div id="fmodal-contract-update-wrapper"></div>
{# End fancybox modal | Обновить документ | Модуль клиенты #}
{#
    End Модалки договоров
#}


<!-- Start Модалка просмотра клиента | Модуль клиенты -->
<div id="region-modal-client"></div>
<!-- End Модалка просмотра клиента | Модуль клиенты -->

{# Start fancybox modal | Добавление клиента | Модуль клиенты #}
<div id="modal-client-add-wrapper"></div>
{# End fancybox modal | Добавление клиента | Модуль клиенты #}