<!-- Start модалка добавление сотрудника. Контейнер | Модуль сотрудники -->
<div id="modal-user-add-wrapper"></div>
<!-- End модалка добавление сотрудника. Контейнер | Модуль сотрудники -->

<!-- Start Модалка просмотра сотрудника. Контейнер | Модуль сотрудники-->
<div id="modal-user-wrapper"></div>
<!-- End Модалка просмотра сотрудника. Контейнер | Модуль сотрудники -->