<!-- РЕАЛИЗОВАТЬ! -->

<!-- Start регион подгрузки модального окна | Редактирование собственной карточки пользователя -->
<div id="modal-current-user-wrapper" class="modal-current-user-wrapper"></div>
<!-- End регион подгрузки модального окна | Редактирование собственной карточки пользователя -->


{# Start редактирование текущего пользователя #}
<script>
    function modal_load_edit_current_user(is_open = 0) {
        let formData = new FormData();
        formData.append('id', {{ current_user().id }});
        formData.append('is_open', is_open);

        let url = API_V1_URLS.currentuser.render + 'modal-current-user';

        xpost_fd(url, formData).then(response => {
            $('#modal-current-user-wrapper').html(response.render_response_html);
            cpns_init();

            dd_render_success(response, 'modal-current-user.twig', url);
        }).catch(resp => {
            dd(resp, 'Ошибка загрузки modal-current-user.twig', 'error');
        });
    }

    $(document).ready(() => {
        modal_load_edit_current_user();
    });
</script>
{# End редактирование текущего пользователя #}