{#
    request_params - параметры запроса
    twig_components_data - данные для компонентов
        posts - данные для подключения селекта постов
#}

<!-- Start модалка добавление сотрудника -->
<div id="modal-user-add" class="modal modal--small modal-user-add">
    <svg data-modal-close class="modal__close"><use xlink:href="#svg-close"></use></svg>

    <div class="modal__container">
        <div class="modal__title">
            Новый сотрудник
        </div>

        <div class="d-flex justify-content-between gap-5">
            <div class="d-flex flex-column gap-4 w-50">

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'email',
                        required: true,
                        pls: 'Email'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'name',
                        required: true,
                        pls: 'Имя'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'surname',
                        pls: 'Фамилия'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'patronymic',
                        pls: 'Отчество'
                    }
                } %}

                {% include 'components/select.twig' with twig_components_data.posts %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'tel',
                        pls: 'Телефон'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'password',
                        required: true,
                        pls: 'Пароль'
                    }
                } %}

                {% include 'components/checkbox.twig' with {
                    settings: {
                        db_field_name: 'is_send_password',
                        label: 'Уведомить пользователя о создании аккаунта?'
                    }
                } %}

            </div>

            <div class="d-flex justify-content-start align-items-end flex-column w-50">

                {% include 'components/photo-add.twig' with {
                    settings: {
                        db_field_name: 'avatar',
                        btn_text: 'Добавить фото'
                    }
                } %}

            </div>
        </div>
        
        <div class="d-flex flex-column align-items-end">
            <button class="btn submitter disable" style="font-weight: 700; width: max-content;">
                Сохранить
            </button>
            <span style="margin-top: 5px;display: block; font-size: 0.8rem; color: var(--clr-6);">*обязательные поля</span>
        </div>

    </div>
</div>
<!-- End модалка добавление сотрудника -->

{# Start скрипты #}
<script>
    $(document).ready(() => {
        cpns_form_validate('#modal-user-add', '.submitter');

        $('#modal-user-add .submitter').click(() => {
            let formData = cpns_get_formdata_by_wrapper('#modal-user-add');

            xpost_fd(API_V1_URLS.users.create, formData).then(response => {
                xrender_main_table_users();
                $('#modal-user-add .modal__close').trigger('click');

                cpns_clear_by_wrapper('#modal-user-add');

                dd(response, response.message, 'success');
                push(response.message, 'success');
            }).catch(response => {
                dd(response, response.message, 'error');
                push(response.message, 'error');
            });
        });
    });
</script>
{# End скрипты #}