<div class="menu">

    {# Start Логотип #}
    <a href="/" class="menu__logo">
        <img src="/assets/img/glonavt_logo.svg" alt="logo">
    </a>
    {# End Логотип #}

    
    <ul class="menu__list">
        <li class="menu__item">
            <a href="/statistics" class="menu__item-link">
                <span class="menu__item-left">
                    <span class="menu__item-icon">
                        <svg><use xlink:href="#svg-component"></use></svg>
                    </span>
                    <span class="menu__item-title">Статистика</span>
                </span>
            </a>
        </li>

        <li class="menu__item">
            <a href="#" class="menu__item-link">
                <span class="menu__item-left">
                    <span class="menu__item-icon">
                        <svg><use xlink:href="#svg-people"></use></svg>
                    </span>
                    <span class="menu__item-title">Клиенты</span>
                </span>
                <span class="menu__item-right">
                    <span class="menu__item-count">(20)</span>
                    <span class="menu__item-arrow"><svg><use xlink:href="#svg-arrow"></use></svg></span>
                </span>
            </a>
            <ul class="menu__item-list">
                <li><a href="/clients?page=1"><span>Все клиенты</span><span></span></a></li>
                <li><a href="/clients?page=1&status=20"><span>Активные</span><span></span></a></li>
                <li><a href="/clients?page=1&status=100"><span>Архивные</span><span></span></a></li>
            </ul>
        </li>

        <li class="menu__item">
            <a href="/objects.html" class="menu__item-link">
                <span class="menu__item-left">
                    <span class="menu__item-icon">
                        <svg><use xlink:href="#svg-car"></use></svg>
                    </span>
                    <span class="menu__item-title">Объекты</span>
                </span>
                <span class="menu__item-right">
                    <span class="menu__item-count">(1671)</span>
                    <span class="menu__item-arrow"><svg><use xlink:href="#svg-arrow"></use></svg></span>
                </span>
            </a>
            <ul class="menu__item-list">
                <li><a href="/objects"><span>Все объекты</span><span>(45)</span></a></li>
                <li><a href="/objects"><span>Модуль мониторинга</span><span>(10)</span></a></li>
                <li><a href="/objects"><span>ДУТ</span><span>(10)</span></a></li>
                <li><a href="/objects"><span>Тахографы</span><span>(10)</span></a></li>
                <li><a href="/objects"><span>Другие устройства</span><span>(15)</span></a></li>
            </ul>
        </li>

        <li class="menu__item">
            <a href="/applications.html" class="menu__item-link">
                <span class="menu__item-left">
                    <span class="menu__item-icon">
                        <svg class="fill"><use xlink:href="#svg-request"></use></svg>
                    </span>
                    <span class="menu__item-title">Заявки</span>
                </span>
                <span class="menu__item-right">
                    <span class="menu__item-count">(2363)</span>
                    <span class="menu__item-arrow"><svg><use xlink:href="#svg-arrow"></use></svg></span>
                </span>
            </a>
            <ul class="menu__item-list">
                <li><a href="/applications"><span>Все заявки</span><span>(30)</span></a></li>
                <li><a href="/applications"><span>В работе</span><span>(15)</span></a></li>
                <li><a href="/applications"><span>Новые</span><span>(5)</span></a></li>
                <li><a href="/applications"><span>В обработке</span><span>(3)</span></a></li>
                <li><a href="/applications"><span>Выполнена</span><span>(7)</span></a></li>
            </ul>
        </li>

        <li class="menu__item">
            <a href="#" class="menu__item-link">
                <span class="menu__item-left">
                    <span class="menu__item-icon">
                        <svg class="fill"><use xlink:href="#svg-employee"></use></svg>
                    </span>
                    <span class="menu__item-title">Сотрудники</span>
                </span>
                <span class="menu__item-right">
                    <span class="menu__item-count">(25)</span>
                    <span class="menu__item-arrow"><svg><use xlink:href="#svg-arrow"></use></svg></span>
                </span>
            </a>
            <ul class="menu__item-list">
                <li><a href="/workers"><span>Все сотрудники</span><span>(20)</span></a></li>
                <li><a href="/workers"><span>АУП</span><span>(10)</span></a></li>
                <li><a href="/workers"><span>Бухгалтерия</span><span>(10)</span></a></li>
                <li><a href="/workers">Коммерческий отдел</a></li>
                <li><a href="/workers">IT-отдел</a></li>
                <li><a href="/workers">Архив</a></li>
            </ul>
        </li>

        <li class="menu__item">
            <a href="#" class="menu__item-link">
                <span class="menu__item-left">
                    <span class="menu__item-icon">
                        <svg class="fill"><use xlink:href="#svg-reports"></use></svg>
                    </span>
                    <span class="menu__item-title">Отчеты</span>
                </span>
                <span class="menu__item-right">
                    <span class="menu__item-count">(25)</span>
                    <span class="menu__item-arrow"><svg><use xlink:href="#svg-arrow"></use></svg></span>
                </span>
            </a>
            <ul class="menu__item-list">
                <li><a href="/reports-tools">По оборудованию</a></li>
                <li><a href="/reports-objects">По объекту</a></li>
                <li><a href="/reports-request">По заявкам</a></li>
                <li><a href="/reports-workers">По исполнителям</a></li>
                <li><a href="/orders-work">Заказ-наряды</a></li>
                <li><a href="/service">Обслуживание</a></li>
            </ul>
        </li>

        <li class="menu__item">
            <a href="#" class="menu__item-link">
                <span class="menu__item-left">
                    <span class="menu__item-icon">
                        <svg><use xlink:href="#svg-book"></use></svg>
                    </span>
                    <span class="menu__item-title">Справочники</span>
                </span>
                <span class="menu__item-right">
                    <span class="menu__item-count">(25)</span>
                    <span class="menu__item-arrow"><svg><use xlink:href="#svg-arrow"></use></svg></span>
                </span>
            </a>
            <ul class="menu__item-list">
                <li><a href="/book-objects">Объекты</a></li>
                <li><a href="/book-equipment">Оборудование</a></li>
                <li><a href="/book-sensors">Датчики</a></li>
                <li><a href="/book-departments">Отделы</a></li>
                <li><a href="/book-posts">Должности</a></li>
                <li><a href="/book-docs">Документы</a></li>
            </ul>
        </li>
        
    </ul>
</div>