{#
    request_params - параметры запроса
#}

<div id="fmodal-new-objdoc" class="fmodal fmodal-new-objdoc" style="display: none;">
    <div class="fmodal__title">Новый документ</div>

    <div class="fmodal__content">
        <div class="d-flex justify-content-between gap-5">
            <div class="fmodal__vertical">

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'file_anchor',
                        required: true,
                        pls: 'Имя файла'
                    }
                } %}

            </div>
        </div>
    </div>

    <div class="fmodal__control-btns">
        <button data-fancybox-close class="fmodal__btn btn-bad">Отменить</button>
        <button class="fmodal__btn btn-good disable js-submitter">Сохранить</button>
    </div>
</div>