{#
    request_params - параметры запроса
    organizations - организации
    twig_components - данные для компонентов
        data
            clients - клиенты
        html
            clients - клиенты
#}
<div id="modal-object-add" class="modal modal--small modal-object-add">
    <svg data-modal-close class="modal__close"><use xlink:href="#svg-close"></use></svg>

    <div class="modal__container">
        <div class="modal__title">
            Новый объект
        </div>

        <div class="d-flex justify-content-between gap-5">
            <div class="d-flex flex-column gap-4 w-50">
                
                {{ twig_components.html.clients|raw }}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'brand',
                        pls: 'Марка'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'model',
                        pls: 'Модель'
                    }
                } %}

                {% include 'components/input-date.twig' with {
                    settings: {
                        db_field_name: 'year',
                        pls: 'Год выпуска',
                        air: ['air-only-years']
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'color',
                        pls: 'Цвет'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'gnum',
                        pls: 'Гос.номер'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'vin',
                        pls: 'VIN'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'reg_doc_num',
                        pls: 'Документ о регистрации'
                    }
                } %}

            </div>

            <div class="d-flex justify-content-start align-items-end flex-column w-50">

                {% include 'components/photo-add.twig' with {
                    settings: {
                        db_field_name: 'photo',
                        btn_text: 'Добавить фото'
                    }
                } %}

                {% include 'components/files-add.twig' with {
                    settings: {
                        db_field_name: 'documents_files'
                    }
                } %}

            </div>
        </div>
        
        <div style="display: flex;justify-content: flex-end;">
            <button class="btn submitter disable" style="font-weight: 700; width: max-content;">
                Сохранить
            </button>
        </div>

    </div>
</div>

{# Start создание объекта #}
<script>
    $(document).ready(() => {
        cpns_form_validate('#modal-object-add', '.submitter');

        $('#modal-object-add .submitter').click(() => {
            xpost_fd(API_V1_URLS.objects.create, cpns_get_formdata_by_wrapper('#modal-object-add')).then(response => {
                dd(response, response.message, 'success');
                push(response.message, 'success');

                $('#modal-object-add .modal__close').trigger('click');
            }).catch(response => {
                dd(response, response.message, 'error');
                push(response.message, 'error');
            });
        });
    });
</script>
{# End создание объекта #}