<div id="modal-object-add" class="modal modal--small modal-object-add">
    <svg data-modal-close class="modal__close"><use xlink:href="#svg-close"></use></svg>

    <div class="modal__container">
        <div class="modal__title">
            Новый объект
        </div>

        <div class="d-flex justify-content-between gap-5">
            <div class="d-flex flex-column gap-4 w-50">
                
                @@include('../components/select.html', {"name": "", "stText": "Выберите клиента", "itemName": "Клиент"})

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'brand',
                        pls: 'Марка'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'model',
                        pls: 'Модель'
                    }
                } %}

                {% include 'components/input-date.twig' with {
                    settings: {
                        db_field_name: 'year',
                        pls: 'Год выпуска',
                        air: ['air-only-years']
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'color',
                        pls: 'Цвет'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'gnum',
                        pls: 'Гос.номер'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'vin',
                        pls: 'VIN'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'reg_doc_num',
                        pls: 'Документ о регистрации'
                    }
                } %}

                @@include('../components/select.html', {"name": "", "stText": "Выберите тип объекта", "itemName": "Объект"})




                {# <div class="d-flex flex-column gap-3">
                    @@include('../components/input-text.html', {"name": "", "value": "", "stText": "Гос№"})
    
                    <div class="checkbox">
                        <input type="hidden" value="0">
                        <span class="checkbox__field"></span>
                        <span class="checkbox__label">Нет гос№</span>
                    </div>
                </div> #}

                {# <div class="d-flex flex-column gap-3">
                    @@include('../components/input-text.html', {"name": "", "value": "", "stText": "VIN"})
    
                    <div class="checkbox">
                        <input type="hidden" value="0">
                        <span class="checkbox__field"></span>
                        <span class="checkbox__label">Нет VIN</span>
                    </div>
                </div> #}

                {# <div class="d-flex flex-column gap-3">
                    @@include('../components/select.html', {"name": "", "stText": "Документ о регистрации", "itemName": "Документ"})
    
                    <div class="checkbox">
                        <input type="hidden" value="0">
                        <span class="checkbox__field"></span>
                        <span class="checkbox__label">Нет документа о регистрации</span>
                    </div>
                </div> #}

            </div>

            <div class="d-flex justify-content-start align-items-end flex-column w-50">

                @@include('../components/photo-add.html', {"btn_name": "Добавить фото"})

                <div class="files-add">
                    <input class="files-add__input" type="file" multiple accept=".xlsx, .xls, .doc, .docx, .ppt, .pptx, .pdf">

                    <span class="files-add__info">Перетащите файлы сюда или нажмите на +</span>

                    <div class="files-add__view"></div>

                    <div class="files-add__bottom">
                        <svg class="files-add__btn"><use xlink:href="#svg-add"></use></svg>
                    </div>
                </div>

            </div>
        </div>
        
        <div style="display: flex;justify-content: flex-end;">
            <button class="btn disable" style="font-weight: 700; width: max-content;">
                Сохранить
            </button>
        </div>

    </div>
</div>