{#
    request_params - параметры запроса
    docs - документы
#}

<div class="tabs__tableContainer">
    <div class="tabs__table">
        <table>
            <thead>
                <tr>
                    <th class="text-start">Имя</th>
                    <th class="text-start">Прикрепил</th>
                </tr>
            </thead>

            <tbody>
                <tr data-fancybox data-src="#fmodal-ts-object-view" class="pointer">
                    <td class="text-start"><a href="#">Анкета.xlsx (123123123 байт)</a></td>
                    <td class="text-start">Лебедев Ю. И.</td>
                    <td class="td-btn-default text-end">
                        <svg><use xlink:href="#svg-del"></use></svg>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>