{#
    request_params - параметры запроса
    docs - документы
#}

{% if docs | length > 0 %}
<div class="tabs__tableContainer">
    <div class="tabs__table">
        <table>
            <thead>
                <tr>
                    <th class="text-start">Имя</th>
                    <th class="text-start">Прикрепил</th>
                </tr>
            </thead>

            <tbody>
                {% for doc in docs %}
                    {{ dump(doc.id) }}
                    <tr class="pointer">
                        <td class="text-start"><a href="#">Анкета.xlsx (123123123 байт)</a></td>
                        <td class="text-start">Лебедев Ю. И.</td>
                        <td class="td-btn-default text-end">
                            <svg><use xlink:href="#svg-del"></use></svg>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
    <div style="display: flex; align-items: center; justify-content: center; font-size: 20px;">Документов нет!</div>
{% endif %}