{#
    title - заголовок страницы
    paths - пути
    query - параметры запроса
    org_statuses - статусы
#}

{% extends "layout.twig" %}
{% block module_name %}clients{% endblock module_name %}

{% block control %}
<div class="control">
    <div class="control__container">
        <div class="control__left">

            {% include 'components/control-search.twig' with
                {
                    data: {
                        field_name: 'name_or_inn',
                        pls: 'Поиск по наименованию или ИНН'
                    },
                    cpns_styles: {
                        'max-width': '380px',
                    }
                }
            %}

        </div>

        <div class="control__right">
            <button data-modal-client-add class="control__btn btn">Добавить</button>
        </div>
    </div>
</div>
{% endblock control %}

{% block content %}
{% endblock content %}

{% block scripts %}
{# Start Подгружаем главную таблицу #}
<script>
    $(document).ready(function() {
        let status = {{ query.status | default('null') | raw }};
        xrender_main_table_clients({{ query.page | default(1) }}, {
            status: status
        });
    });
</script>
{# End Подгружаем главную таблицу #}
{% endblock scripts %}