{% extends "layout.twig" %}

{% block control %}
<div class="control">
    <div class="control__container">
        <div class="control__left">

            <div class="control__search input-search" style="max-width: 370px;">
                <input type="text" class="input-search__input" placeholder="Поиск по наименованию или ИНН">
            </div>

        </div>

        <div class="control__right">
            <button data-modal-client-add="" class="control__btn btn">Добавить</button>
        </div>
    </div>
</div>
{% endblock control %}

{% block content %}

{% endblock content %}



{% block scripts %}
<script>
    $(document).ready(function() {
        xrender(API_V1_URLS.clients.render, 'region-main-table:main-table.twig');
    });
</script>
{% endblock scripts %}