<!DOCTYPE html>
<html lang="ru">

    <!-- Start include head -->
    {% block head %}
    {% include 'blocks/head.twig' %}
    {% endblock head %}
    <!-- End include head -->


    <!-- Start body -->
    <body class="module-{% block module_name %}default{% endblock module_name %}">
        <div class="layout">
            
            <!-- Start include menu -->
            {% block menu %}
            {% include 'blocks/main-menu.twig' %}
            {% endblock menu %}
            <!-- End include menu -->

            <div class="main" id="main">

                <!-- Start include header -->
                {% block header %}
                {% include 'blocks/header.twig' %}
                {% endblock header %}
                <!-- End include header -->

                

                <!-- Start region-content -->
                <div class="region-content">

                    <!-- Start control -->
                    {% block control %}
                    <div class="control">
                        <div class="control__container">
                            <div class="control__left">

                                <div class="control__search input-search" style="max-width: 370px;">
                                    <input type="text" class="input-search__input" placeholder="Поиск по наименованию или ИНН">
                                </div>
    
                            </div>
    
                            <div class="control__right">
                                <button class="control__btn btn">Добавить</button>
                            </div>
                        </div>
                    </div>
                    {% endblock control %}
                    <!-- End control -->


                    <!-- Start content table -->
                    <div id="region-main-table">
                        {% block content %}
                        <div class="content-table content-table--control">
                            <div class="content-table__container">

                                <table>
                                    <thead>
                                    <tr>
                                        <th>Номер</th>
                                        <th>Дата</th>
                                        <th class="text-start">Тип/модель/гос№<br>объекта</th>
                                        <th class="text-start">Клиент</th>
                                        <th class="text-start">Адрес</th>
                                        <th class="text-start">Телефон</th>
                                        <th class="text-start">Пробег</th>
                                        <th class="text-start">Причина</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                        <tr class="pointer">
                                            <td>1</td>
                                            <td>23.10.2023</td>
                                            <td class="text-start">Х664МА72 LADA 4x4, 212140<br>Легковой автомобиль</td>
                                            <td class="text-start">ООО Альянс</td>
                                            <td class="text-start">629008, Ямало-Ненецкий<br>Автономный округ....</td>
                                            <td class="text-start">89224544565</td>
                                            <td class="text-start">125286</td>
                                            <td class="text-start">Заявка №123456<br>от 23.10.2023</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        {% endblock content %}
                    </div>
                    <!-- End content table -->

                </div>
                <!-- End region-content -->

            </div>
        </div>

        {% include 'blocks/footer.twig' %}

        {% block scripts %}
        {% endblock scripts %}
        
    </body>
    <!-- END body -->
</html>