{#
    request_params - параметры запроса
#}

<!-- Start fancybox modal | Новый счет | Модуль клиенты -->
<div id="fmodal-new-bill" class="fmodal fmodal-new-bill" style="display: none;">
    <div class="fmodal__title">Новый счет</div>

    <div class="fmodal__content">

        <div class="fmodal__vertical">

            {{ contracts.select_html | raw }}

            {# Start загрузка файла счета #}
            {% include 'components/input-file.twig' with {
                settings: {
                    db_field_name: 'bill_file',
                    btn_text: 'Загрузите счет',
                    required: true
                }
            } %}
            {# End загрузка файла счета #}
    
            {% include 'components/input-text.twig' with {
                settings: {
                    db_field_name: 'sum',
                    required: true,
                    pls: 'Сумма счёта'
                }
            } %}

            {% include 'components/textarea.twig' with {
                settings: {
                    db_field_name: 'comment',
                    pls: 'Комментарий'
                }
            } %}
        </div>
        
    </div>

    <div class="fmodal__control-btns">
        <button data-fancybox-close class="fmodal__btn btn-bad">Отменить</button>
        <button class="fmodal__btn btn-good js-submitter disable">Сохранить</button>
    </div>
</div>
<!-- End fancybox modal | Новый счет | Модуль клиенты -->