{#
    request_params - параметры запроса
    client - клиент
    contacts_persons - контактные персоны
    contacts_person_posts - Массив. id должностей
    person - персона
#}

{# Start Проверяем есть ли директор среди других контактных лиц #}
{% set has_director = false %}
{% for pers in contacts_persons %}
    {% if pers.post_id == contacts_person_posts.POST_STATUS_DIRECTOR %}
        {% set has_director = true %}
    {% endif %}
{% endfor %}

{% for pers in contacts_persons %}
    {% if person.id == pers.id %}
        {% if pers.post_id == contacts_person_posts.POST_STATUS_DIRECTOR %}
            {% set has_director = false %}
        {% endif %}
    {% endif %}
{% endfor %}
{# End Проверяем есть ли директор среди других контактных лиц #}

<div id="fmodal-contact-person-update" class="fmodal fmodal-contact-person-update" style="display: none;">
    <div class="fmodal__title">Обноввление контактного лица</div>

        <div class="fmodal__content">

            <div class="fmodal__vertical">
                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'name',
                        required: true,
                        pls: 'Имя',
                        val: person.name
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'surname',
                        pls: 'Фамилия',
                        val: person.surname
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'patronymic',
                        pls: 'Отчество',
                        val: person.patronymic
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'post',
                        pls: 'Должность',
                        val: person.post
                    }
                } %}

                {% include 'components/input-date.twig' with {
                    settings: {
                        db_field_name: 'birth',
                        pls: 'Дата рождения',
                        val: person.birth
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'tel',
                        pls: 'Телефон',
                        val: person.tel
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'email',
                        pls: 'Почта',
                        val: person.email
                    }
                } %}

                {% set is_hide = false %}

                {# Start определяем, можно ли активировать активность галочки #}
                {% if person.is_director == contacts_person_posts.POST_STATUS_DIRECTOR %}
                    {% set is_hide = false %}                 
                {% endif %}

                {% if person.post_id == contacts_person_posts.POST_STATUS_DIRECTOR and has_director == false %}
                    {% set is_hide = false %}                 
                {% endif %}

                {% if person.post_id != contacts_person_posts.POST_STATUS_DIRECTOR and has_director %}
                    {% set is_hide = true %}                 
                {% endif %}
                {# End определяем, можно ли активировать активность галочки #}

                {% include 'components/checkbox.twig' with {
                    settings: {
                        db_field_name: 'post_id',
                        label: 'Этот человек является руководителем',
                        checked: person.post_id,
                        disable: is_hide
                    }
                } %}

                {% if is_hide %}
                    <p style="margin-top: -13px; font-size: 0.8rem; color: var(--clr-14);">Директор уже задан</p>
                {% endif %}

            </div>
            
        </div>

        <div class="fmodal__control-btns">
            <button data-fancybox-close class="fmodal__btn btn-bad">Отменить</button>
            <button class="fmodal__btn btn-good js-submitter" onclick="tab_modal_update_contact_person({{ request_params.person_id }})">Сохранить</button>
        </div>

    </div>
</div>

<script>
    function tab_modal_update_contact_person(person_id) {
        let modal_wrapper_components = '#fmodal-contact-person-update';

        let update_url = API_V1_URLS.clients.update_contact_person; // API_V1_URLS - Смотрим в main.js
        let formData = cpns_get_formdata_by_wrapper(modal_wrapper_components);

        // Если есть заполненные поля и нет ошибок, отправляем запрос
        if (formData && !cpns_get_errors_by_wrapper(modal_wrapper_components)) {
            formData.append('id', person_id);

            // Отправка запроса
            $.ajax({
                url: update_url,
                method: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response);
                    if (response.status == "success") {
                        push(response.message ? response.message : "Успешное обновление контактного лица", "success", 2000);
                        load_tab_contacts_persons({{ person.organization_id }}, true);
                        $.fancybox.close();
                        $('#fmodal-contact-person-wrapper').html('');
                    }
                    else {
                        console.log(response);
                    }
                },
            });
        }
    }
</script>