{#
    request_params - параметры запроса
    client - клиент
    contacts_persons - контактные персоны
    contacts_person_posts - Массив. id должностей
#}

{# Start Проверяем есть ли директор среди других контактных лиц #}
{% set has_director = false %}
{% for pers in contacts_persons %}
    {% if pers.post_id == contacts_person_posts.POST_STATUS_DIRECTOR %}
        {% set has_director = true %}
    {% endif %}
{% endfor %}
{# End Проверяем есть ли директор среди других контактных лиц #}

<div id="fmodal-new-contact-person" class="fmodal fmodal-new-contact-person" style="display: none;">
    <div class="fmodal__title">Новое контактное лицо</div>

        <div class="fmodal__content">

            <div class="fmodal__vertical">
                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'name',
                        required: true,
                        pls: 'Имя'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'surname',
                        pls: 'Фамилия'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'patronymic',
                        pls: 'Отчество'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'post',
                        pls: 'Должность'
                    }
                } %}

                {% include 'components/input-date.twig' with {
                    settings: {
                        db_field_name: 'birth',
                        pls: 'Дата рождения'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'tel',
                        pls: 'Телефон'
                    }
                } %}

                {% include 'components/input-text.twig' with {
                    settings: {
                        db_field_name: 'email',
                        pls: 'Почта'
                    }
                } %}

                {% include 'components/checkbox.twig' with {
                    settings: {
                        db_field_name: 'post_id',
                        label: 'Этот человек является руководителем',
                        disable: has_director
                    }
                } %}

                {% if has_director %}
                    <p style="margin-top: -13px; font-size: 0.8rem; color: var(--clr-14);">Директор уже задан</p>
                {% endif %}

            </div>
            
        </div>

        <div class="fmodal__control-btns">
            <button data-fancybox-close class="fmodal__btn btn-bad">Отменить</button>
            <button class="fmodal__btn btn-good disable js-submitter" onclick="tab_modal_create_new_contact_person({{ client.id }})">Сохранить</button>
        </div>

    </div>
</div>

{# Start Функция, которая добавляет контактную персону #}
<script>

    cpns_init(); // Инициализируем компоненты
    cpns_form_validate("#fmodal-new-contact-person", '.js-submitter'); // Валидируем форму добавления конт.лица

    function tab_modal_create_new_contact_person(client_id) {
        let modal_wrapper_components = '#fmodal-new-contact-person';

        let create_url = API_V1_URLS.clients.create_contact_person; // API_V1_URLS - Смотрим в main.js
        let formData = cpns_get_formdata_by_wrapper(modal_wrapper_components);

        // Если есть заполненные поля и нет ошибок, отправляем запрос
        if (formData && !cpns_get_errors_by_wrapper(modal_wrapper_components)) {
            formData.append('organization_id', client_id);

            // Отправка запроса
            $.ajax({
                url: create_url,
                method: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.status == "success") {
                        push(response.message ? response.message : "Успешное создание контактного лица", "success", 2000);
                        load_tab_contacts_persons(client_id, true); // Обновляем контактных персон
                        $.fancybox.close();
                        $('#fmodal-contact-person-wrapper').html('');
                    }
                    else {
                        console.log(response);
                    }
                },
            });
        }
    }
</script>
{# End Функция, которая добавляет контактную персону #}