{#
    request_params - параметры запроса
    client - клиент
    book_users - пользователи, ответственные
    contract - договор
    contract_types - типы документов
#}

<!-- Start fancybox modal | Новый договор | Модуль клиенты -->
<div id="fmodal-contract-update" class="fmodal fmodal-contract-update" style="display: none;max-width: 400px;">
    <div class="fmodal__title">Редактирование договора</div>

    <div class="fmodal__content">

        <div class="fmodal__vertical">
            {% include 'components/input-text.twig' with {
                settings: {
                    db_field_name: 'contract_num',
                    val: contract.contract_num,
                    required: true,
                    pls: 'Номер договора'
                }
            } %}

            {% include 'components/input-date.twig' with {
                settings: {
                    db_field_name: 'contract_date_start',
                    val: contract.contract_date_start,
                    pls: 'Дата заключения договора'
                }
            } %}

            {% include 'components/input-date.twig' with {
                settings: {
                    db_field_name: 'contract_date_end',
                    val: contract.contract_date_end,
                    pls: 'Срок действия'
                }
            } %}

            {# Start Селект выбора типа документа #}
            {{ contract_types.select_html | raw }}
            {# End Селект выбора типа документа #}

            {# Start Селект выбора ответственного #}
            {{ book_users.select_html | raw }}
            {# End Селект выбора ответственного #}

            {# Start загрузка договора #}
            {% include 'components/input-file.twig' with {
                settings: {
                    db_field_name: 'contract_file',
                    btn_text: contract.contract_file_name ? 'Заменить договор' : 'Загрузить договор',
                    val: contract.contract_file_name,
                    required: true
                }
            } %}
            {# End загрузка договора #}
        </div>
        
    </div>

    <div class="fmodal__control-btns">
        <button data-fancybox-close class="fmodal__btn btn-bad">Отменить</button>
        <button class="fmodal__btn btn-good js-submitter disable" onclick="update_contract_by_id({{ contract.id }}, {{ client.id }})">Сохранить</button>
    </div>
</div>
<!-- End fancybox modal | Новый договор | Модуль клиенты -->

{# Start отправка формы сохранения договора #}
<script>
function update_contract_by_id(contract_id, org_id) {
    let url = API_V1_ROUTS.ClientsContracts.update;
    let formData = new FormData();
    formData.append('id', contract_id);

    xpost_fd(url, formData).then(response => {
        load_tab_contracts(org_id, true);
        push(response.message, 'success');
        dd(response, response.message, 'success');
    }).catch(response => {
        push(response.message, 'error');
        dd(response, response.message, 'error');
    });
}
</script>
{# End отправка формы сохранения договора #}