<!-- Start модалка добавление клиента | Модуль клиенты -->
<div id="modal-client-add" class="modal modal--small modal-client-add">
    <svg data-modal-close class="modal__close"><use xlink:href="#svg-close"></use></svg>

    <div class="modal__container">
        <div class="modal__title">
            Новый клиент
        </div>

        <div style="display: flex; column-gap: 2.5rem;">
            <div style="display: flex;flex-direction: column;gap: 30px;">
                <div style="display: grid; grid-template-columns: repeat(2, 1fr); column-gap: 2.5rem; row-gap: 20px;">

                    {% include 'components/input-text.twig' with {
                        'settings': {
                            'db_field_name': 'inn',
                            'pls': 'Введите ИНН',
                        }}
                    %}

                    {% include 'components/input-text.twig' with {
                        'settings': {
                            'db_field_name': 'bic',
                            'pls': 'Введите БИК',
                        }}
                    %}

                </div>


                <div style="display: grid; grid-template-columns: repeat(2, 1fr); column-gap: 2.5rem; row-gap: 20px;">
                    {% include 'components/input-text.twig' with
                        {
                            'settings': {
                                'db_field_name': 'name',
                                'pls': 'Наименование',
                                'required': true
                            },
                        
                        }
                    %}
                    {% include 'components/input-text.twig' with {
                        'settings': {
                            'pls': 'ФИО руководителя',
                            'db_field_name': 'director_fio'
                        }}
                    %}
                    {% include 'components/input-text.twig' with {
                        'settings': {
                            'db_field_name': 'director_tel',
                            'pls': 'Телефон руководителя'
                        }}
                    %}
                    {% include 'components/input-text.twig' with {
                        'settings': {
                            'db_field_name': 'email',
                            'pls': 'Почта'
                        }}
                    %}

                    {% include 'components/textarea.twig' with {
                        'settings': {
                            'db_field_name': 'actual_address',
                            'pls': 'Фактические адрес',
                        }}
                    %}

                    {% include 'components/textarea.twig' with {
                        'settings': {
                            db_field_name: 'legal_address',
                            pls: 'Юридический адрес',
                        }}
                    %}

                </div>

                <div style="display: grid; grid-template-columns: repeat(2, 1fr); column-gap: 2.5rem;">
                    
                    <div>
                        <div style="font-size: 1.1rem;font-weight: bold;color: var(--clr-6);margin-bottom: 15px;">
                            Банковские реквизиты
                        </div>

                        <div style="display: flex;flex-direction: column; gap: 20px;">

                            {% include 'components/input-text.twig' with {
                                    'settings': {
                                        db_field_name: 'bank_name',
                                        pls: 'Название банка'
                                    }
                                }
                            %}

                            {% include 'components/input-text.twig' with {
                                'settings': {
                                    db_field_name: 'checking_bill_num',
                                    pls: 'Рассчётный счёт',
                                }}
                            %}
                            {% include 'components/input-text.twig' with {
                                'settings': {
                                    db_field_name: 'correspondent_bill_num',
                                    pls: 'Корреспондентский счёт',
                                }}
                            %}
                            {% include 'components/input-text.twig' with {
                                'settings': {
                                    db_field_name: 'okato',
                                    pls: 'ОКАТО',
                                }}
                            %}
                            {% include 'components/input-text.twig' with {
                                settings: {
                                    pls: 'ОКПО',
                                    db_field_name: 'okpo',
                                }}
                            %}

                        </div>
                    </div>

                    <div>
                        <div style="font-size: 1.1rem;font-weight: bold;color: var(--clr-6);margin-bottom: 15px;">
                            Ответственный менеджер
                        </div>

                        <div style="display: flex;flex-direction: column; gap: 20px;">
                            {% include 'components/select.twig' with
                                {
                                    settings: {
                                        db_field_name: 'manager_id',
                                        not_selected_text: 'Менеджер не выбран'
                                    },
                                    items: [
                                        {
                                            'id': '1',
                                            'text': 'Валерий',
                                            'current_text': 'Валерий куррент'
                                        },
                                        {
                                            'id': '1',
                                            'text': 'Валерий',
                                            'current_text': 'Валерий куррент'
                                        }
                                    ]
                                }
                            %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-between">
                <button class="btn disable" style="font-weight: 700;">Проверить</button>
                <button class="btn js-submitter" style="font-weight: 700; width: max-content;">Сохранить</button>
            </div>
        </div>

    </div>
</div>
<!-- End модалка добавление клиента | Модуль клиенты -->

{# Start Добаввление клиента в базу данных | Модалка добавления нового пользователя #}
<script>
$(document).ready(function (e) {

    // Start валидация формы
    cpns_form_validate("#modal-client-add", ".js-submitter");
    // End валидация формы

    // Событие на отправку данных на сервер
    $(document).on("click", "#modal-client-add .js-submitter", function (e) {
        let create_url = API_V1_URLS.clients.create; // API_V1_URLS - Смотрим в main.js
        let formData = cpns_get_formdata_by_wrapper("#modal-client-add");

        // Если есть заполненные поля и нет ошибок, отправляем запрос
        if (formData && !cpns_get_errors_by_wrapper("#modal-client-add")) {
            // Отправка запроса
            xpost_fd(create_url, formData).then(function (data) { // xpost_fd - main.js
                cpns_clear_by_wrapper("#modal-client-add");
                xrender_main_table_clients(1); // Обновляем главную таблицу клиентов
                $("#modal-client-add [data-modal-close]").trigger("click");

                push(data.message, 'success');
            }).catch(data => {
                dd(data, data.message, 'error');
                push(data.message, 'error');
            });
        }
    });
});
</script>
{# End Добаввление клиента в базу данных | Модалка добавления нового пользователя #}