<!-- Start fancybox modal | Новый тип объекта | Модуль справочники -->
<div id="fmodal-book-new-service" class="fmodal fmodal-book-new-service" style="display: none;min-width: unset;">
    <div class="fmodal__title">Новый тип объекта</div>

    <div class="fmodal__content">

        <div class="fmodal__vertical">
            {% include 'components/input-text.twig' with {
                settings: {
                    db_field_name: 'name',
                    required: true,
                    pls: 'Название типа объекта'
                }
            } %}

            {% include 'components/textarea.twig' with {
                settings: {
                    db_field_name: 'description',
                    pls: 'Описание типа объекта'
                }
            } %}
        </div>
        
    </div>

    <div class="fmodal__control-btns">
        <button data-fancybox-close class="fmodal__btn btn-bad">Отменить</button>
        <button class="fmodal__btn btn-good submitter disable">Сохранить</button>
    </div>

</div>
<!-- End fancybox modal | Новый тип объекта | Модуль справочники -->

{# Start добавление нового типа услуги #}
<script>
    $(document).ready(() => {
        cpns_form_validate('#fmodal-book-new-service', '.submitter', true);

        $('#fmodal-book-new-service .submitter').click(function(e) {
            let formData = cpns_get_formdata_by_wrapper('#fmodal-book-new-service');

            // Создаем
            xpost_fd(API_V1_ROUTS.BookServices.create, formData).then(response => {
                xrender_main_table_book_services();
                $.fancybox.close();
                dd(response, response.message, 'success');
                push(response.message, 'success');
            }).catch(response => {
                dd(response, response.message, 'error');
                push(response.message, 'error');
            });
        });
    });
</script>
{# End добавление нового типа услуги #}